  /* src/index.css */
  body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("cartoon.png");
    background-attachment: fixed;

  }


  p {
    font-size: 20px;
  }
  nav {
    background-color: #333;
    border-radius: 20px;
    margin: 10px;
  
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
    width: 20%;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  nav li a:hover {
    background-color: #111;
  }

  /* Styling for different width buttons */
  button {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: black;
    font-size: 18px;
    text-align: center;
  }

  .button-25 {
    width: 10%;
    background-color: #007bff;
  }

  .button-50 {
    width: 10%;
    background-color: #28a745;
  }

  .button-100 {
    width: 10%;
    background-color: #dc3545;
  }

  button:hover {
    opacity: 0.8;
  }

  .logo { /* Adjust the width as per your logo size */
    margin-right: 20px;
    margin-bottom: -30px;
  }

  .leftedge {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .rightedge {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

.readabilityTop {
  background-color: #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 4px;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.readabilityMid {
  background-color: #333;
  padding-bottom: 4px;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.readabilityBottom {
  background-color: #333;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.readabilitySingle {
  background-color: #333;
  border-radius: 10px;
  padding-bottom: 4px;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}



.largeheading {
  font-size: 80px;
  text-align: center;
}

#accessibilityText {
  font-size: 20px;
}

.contactTable {
  margin: auto;
  text-align: center;
}

@keyframes initBlur {
  from: {filter:blur(0px);
         -webkit-filter: blur(0px);}
  to: {filter:blur(8px);-webkit-filter: blur(8px);}
}

a {
  color: #00aaFF
}

.accessibility-toolbar {
  background-color: #333;
}

#increase-text {
  background-color: white;
  border-radius: 10px;
  color:black;
}

#decrease-text {
  background-color: white;
  border-radius: 10px;
  color:black;
}

#hide-accessibility {
  background-color: white;
  border-radius: 10px;
  color: black;
}

#homepagetext1 {
  margin-left: 25%;
  margin-right: 25%;
}

#homepagevideo {
  text-align: center;
}

#homepagevideoembed {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  height: 145px;
  width: 300px;
}



.forminput input {
  font-size: 20px;
  margin: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: grey;
}

.submit-button {
  background-color:white;
  padding: 4px;
  color: black;
  text-decoration: none;
  border-width: 2px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  margin: 2px
}

.centered-text {
  text-align: center;
}

.mobilelargeheading {
  font-size: 30px;
  text-align: center;
}

#homepagetext1mobile {
  margin-left: 5%;
  margin-right: 5%;
}
.facebook-share-button {
  display: inline-block;
  padding: 7px;
  background-color: #3b5998;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.facebook-share-button:hover {
  background-color: #29487d;
}
